.WordList{
   display:flex;
   flex-direction:column;
   padding:0.8rem;
   list-style:none;
   background:var(--secondary);
}

.WordList .word{
    border-bottom:2px solid var(--tertiary);
    padding:0.8rem 0;
}

.WordList .word__name{
    font-weight:700;
}

.WordList .word__meaning{
    margin:0.5rem 0;
}