.WordList{
   display:flex;
   flex-direction:column;
   padding:0.8rem;
   background:var(--secondary);
}

.WordList .no__results{
    text-align:center;
    color:var(--tertiary);
    font-weight:700;
}

.WordList .word{
    border-bottom:2px solid var(--tertiary);
    padding:0.8rem 0;
}

.WordList .word__name{
    font-weight:700;
}

.WordList .word__meaning{
    margin:0.5rem 0;
}

.WordList .word__card{
    cursor:pointer;
}

.WordList .word__card:hover{
    opacity:0.7;
}

.WordList .word__details{
    display:flex;
    flex-direction:column;
    padding:1rem;
    font-weight:400;
}

.WordList .word__details .dismiss__btn{
    background:none;
    border:none;
    text-align:right;
    color:var(--tertiary);
    font-weight:700;
    font-size:1.2rem;
    cursor:pointer;
}

.WordList .word__details .word__name{
    font-size:2.5rem;
    font-weight:400;
    margin:1rem 0;
}

.word__details .parts__of__speech{
    border-bottom:1px solid var(--tertiary);
    padding: 1rem 0;
}

.word__details .parts__of__speech__heading{
    color:var(--tertiary);
}

.word__details .etymologies{
    margin:1rem 0;
    color:var(--tertiary);
}

.word__details .examples{
    margin-left:1rem;
}

.word__details .definitions{
    margin: 0.5rem 0;
}